.main-footer {
    color: rgb(10, 10, 10);
    background-color:  #067be9;
    padding-top: 3em;
    position: relative;
    display: flex;
   
    width: 100%;
  }
  
  .App-logo1 {
    height: 60px;
    width: 60px;
    padding:5px 5px;
    pointer-events: none;
    border-radius: 15px;
    
  }
 
  .col-sm{
    text-align: center;
  }

  .col:hover{
    font-size: 10px;
    font-weight: 10px;
  }
  
  
    
  
 